@import '@fontsource/inter/latin.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		touch-action: pan-x pan-y;
	}

	html {
		@apply bg-background;
		@apply text-text;
		@apply overflow-hidden;
	}

	h1 {
		font-weight: 900;
		@apply text-[2rem] md:text-[3rem] lg:text-[4rem];
	}

	h2 {
		font-weight: 800;
		@apply text-[1.5rem] md:text-[2rem] lg:text-[3rem];
	}

	h3 {
		font-weight: 700;
		@apply text-[1.3rem] md:text-[1.5rem] lg:text-[2.5rem];
	}

	h4 {
		font-weight: 600;
		@apply text-[1.1rem] md:text-[1.3rem] lg:text-[2rem];
	}

	p,
	a {
		font-weight: bold;
		@apply text-[1.2rem] md:text-[1.3rem] lg:text-[1.5rem];
	}

	input {
		@apply input;
	}

	.input {
		@apply staticBorder rounded-[7px] bg-background p-2 font-bold;
	}

	.staticBorder {
		@apply border-[2px] border-accent;
	}

	.dynborder {
		@apply borderMode:staticBorder bg-secondaryBackground borderMode:bg-background;
	}
}
